<h1>UENF TITLE</h1>

<div class="container">
  <div class="row">
      <% @scrape_array_class.each do |c| %>
        <div class="col">
          <h3><%= c.title %></h3>
          <p><%= c.content %></p>
        </div>

     <% end %>
  </div>
</div>